@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #292929;
    color: #ffffff;
}

a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}
a:hover {
    color: #bdbdbdbe;
    font-size: 22.5px;
}
#banner {
    height: 70px;
    width: 100%;
    background-color: #3b3b3b;
    position: fixed;
    z-index: 10;
}

.topmeny  {
    position: absolute;
    top: -110px;
    width: 200px;
    height: 170px;
    background-color: #3b3b3b ;
    transition: 0.3s;
    text-align: center;
    border-radius: 0px 0px 15px 15px;
    z-index: 15;
}
.topmeny:hover {
    top: 0px;
    background-color: #272727;
}
.bottomText {
    position: absolute;
    bottom: -5px;
    left: 15px;
    font-size: 50px;
}
#main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 65px;
    width: 75%;
    z-index: 0;
    background-color: #2f2f2f;
    height: 100%;
    border: 10px solid #2c2c2c;
    border-radius: 0px 0px 20px 20px;
    padding: 15px;
}
#main p{
    font-size: 20px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 5%;
}
td, th {
    border: 2px solid black;
    text-align: center;
    background-color: #b9b9b9;
    padding: 4px;
}
th {
    background-color: #363636;
    color: white;
}
.tid {
    background-color: #646464;
    color: whitesmoke;
}
.toppting {
    border: none;
    height: 60px;
    border-radius: 50% 50% 0% 0%;
}
.fritime {
    background-color: #cccccc;
}
#download {
    width: 150px;
    height: 100px;
    color: white;
    background-color: green;
    font-size: 30px;
    position: relative;
    left: 42.5%;
    
    
}
img {
    width: 75%;
    position: relative;
    left: 12.5%;
}
#fantdefimg {
    border: 2px solid gold;
}
#nahobino {
    border: 5px solid #5808d8b6;
    border-radius: 15px;
}
h1, h2, h3, p {
    font-family:"Nunito" , Geneva, sans-serif;
}
#nyhetframe {
    background-color: #a30000;
    border: 5px solid #800000;
    border-radius: 15px;
    width: 700px;
    height: 250px;
}

#guri:hover {
    color: #bdbdbdbe;
    font-size: 20px;
}