@import url(../index.css);

iframe {
  width: 95vw;
  min-height: 90vh;
}

.demoContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);

}
.topBar {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    font-size: 10px;
    background-color: var(--navbar);
    color: var(--text);



}
.returnButton {
    background-color: var(--button-bg);
    color: var(--text);
    width: 100px;
    font-size: 15px;
    height: 50px;

}