@import url(../index.css);
.navBar {
    top: 0;
    height: 75px;
    width: 100%;
    position: relative;
    background-color: var(--navbar);
    color: var(--text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 0 2px #00000055;

}
.navBarButton {
    font-size: 1.5rem;
    background-color: #0000;
    color: var(--text);
    padding: 8px 20px;
    border-radius: 15px;
    transition: .4s;


}
.navBarButton:visited {
    color: var(--text);
}
.navBarButton:hover {
    background-color: var(--hover-color, var(--text));

}