.slider-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}

.slider-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  background-color: var(--border-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  padding: 0 4px;
  justify-content: flex-start;
  font-size: 1.2rem;
}

.slider-toggle input:checked + .slider {
  background-color: var(--hover-blue);
  justify-content: flex-end;
}

.icon {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
