#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 0;
  box-shadow: 0 2px 4px 0 #00000020;

}
.text {
  max-width: 500px;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px 0 #00000030;
  border-radius: 15px 15px 0 0 ;
  width: 78%;

}